### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [1]:
name = "Sania Khalid"
print(name)

Sania Khalid

Define a multiline string that includes line breaks and print it.

In [2]:
Multi_Line = '''Triple Quotes at the beginning and end of the string allows you to include 
line breaks within the string.
When you run this code, 
it will print the multiline string with the specified line breaks.
'''
print(Multi_Line)

Triple Quotes at the beginning and end of the string allows you to include
line breaks within the string.
When you run this code,
it will print the multiline string with the specified line breaks.

Access the first character of a string.

In [3]:
my_name = "Sania Khalid"
first_character = my_name[0]
print(first_character)

S

Access the last character of a string.

In [12]:
my_name = "Sania Khalid"
last_character = my_name[-1]
print(last_character)

d

Access the second to the fifth character of a string.

In [11]:
my_name = "Sania Khalid"
character = my_name[1:5]
print(character)

ania

Attempt to change a character within an existing string and explain the result.

In [10]:
my_name = "Sania Khalid"

print('''The above statement will cause an error, because strings are immutable,
      you cannot change into a string. Rather than you can create a new string where you can append''')
my_name[2] = 'Z'

The above statement will cause an error, because strings are immutable,
      you cannot change into a string. Rather than you can create a new string where you can append
Sania KZalid


Slice a string to obtain the first 3 characters.

In [14]:
my_name = "Sania Khalid"
first_three = my_name[:3]
print(first_three)

San

Slice a string to obtain the last 4 characters.

In [16]:
my_name = "Sania Khalid"
last_three = my_name[-4:]
print(last_three)

alid

Slice a string to get every second character.

In [18]:
my_name = "Sania Khalid"
every_second_character = my_name[::2]
print(every_second_character)

SnaKai

Reverse a string using slicing.

In [19]:
my_name = "Sania Khalid"
Reverse_character = my_name[::-1]
print(Reverse_character)

dilahK ainaS

Create two string variables and concatenate them.

In [21]:
first = "Sania "
Second = "Khalid"
print(first + Second)

Sania Khalid

Concatenate a string with a number (convert the number to a string first).

In [23]:
number =  3456
string = " Sania Khalid"
number = str(number)
print(number + string)

3456 Sania Khalid

Generate a string that repeats "abc" 10 times.

In [27]:
repeat = 'abc' *10
print(repeat)

abcabcabcabcabcabcabcabcabcabc

Create a string containing a repeating pattern of your choice.

In [28]:
repeat = 'Sania Khalid '*10
print(repeat)

Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid Sania Khalid

Convert a string to lowercase using the lower() method.

In [30]:
lower = 'Sania KHalid'
print(lower.lower())

sania khalid


Convert a string to uppercase using the upper() method.

In [31]:
upper = 'Sania KHalid'
print(lower.upper())

SANIA KHALID

Remove leading and trailing whitespace from a string using the strip() method.

In [33]:
whitespace = '    Sania KHalid '
print(whitespace)
print(whitespace.strip())

    Sania KHalid
Sania KHalid

Check if a string starts with a specific prefix using the startswith() method.

In [35]:
my_name = "Sania Khalid"

prefix = "San"
if my_name.startswith(prefix):
    print(f"The string starts with the prefix '{prefix}'.")
else:
    print(f"The string does not start with the prefix '{prefix}'.")

The string starts with the prefix 'San'.

Split a string into a list of words using the split() method.

In [36]:
string = "Hey this is Sania Khalid, currently enrolled in MS Data Sciences"
print(string.split())

['Hey', 'this', 'is', 'Sania', 'Khalid,', 'currently', 'enrolled', 'in', 'MS', 'Data', 'Sciences']

Join a list of words into a single string using the join() method.

In [40]:
word = ["Hello", "This ", "is", "SANIA KHALID"]
result_string = " .. ".join(word)
print(result_string)

Hello .. This  .. is .. SANIA KHALID