### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [1]:
name = 'Sania Khalid'
print(name)

Sania Khalid

Create two variables, x and y, and swap their values without using a third variable.

In [5]:
x = 7
y = 10
print("Before Swapping")
print("X :",x)
print("Y :",y)
print("After Swapping")
# It contains value of x added with value of y
x = x + y
# As x now contains sum of x and y so when we subtract value of y from that addition, remainder will be value of x which is stored in variable of y
y = x - y
#  As x contains sum of x and y and y contains value of x, finded in above step, so after subtracting we will get the value of y which will be assigned to x variable
x = x - y
print("X :",x)
print("Y :",y)

Before Swapping
X : 7
Y : 10
After Swapping
X : 10
Y : 7

Calculate the area of a rectangle with length and width stored in variables.

In [7]:
Length = int(input("Enter length for rectangle:   "))
Width = int(input("Enter Width for rectangle:   "))
Area = Length * Width
print("Area is:  ", Area)

Enter length for rectangle:   2
Enter Width for rectangle:   4
Area is:   8

Create a variable with a long string (multi-line) and print its length.

In [9]:
Long_String = input("Enter a long string:  ")
# Sample String:  Humpty Dumpty sat on a wall, Humpty Dumpty had a great fall. All the King's horses And all the King's men Cannot put Humpty together again.
# At the very top of the hay-mow in the barn, the Speckled Hen had made her nest, and each day for twelve days she had laid in it a pretty white egg.
Length = len(Long_String)
print("Length of multi-line string is:  ", Length)

Enter a long string:  Humpty Dumpty sat on a wall, Humpty Dumpty had a great fall. All the King's horses And all the King's men Cannot put Humpty together again. At the very top of the hay-mow in the barn, the Speckled Hen had made her nest, and each day for twelve days she had laid in it a pretty white egg.
Length of multi-line string is:   287

Create a variable to store your favorite number and print it.

In [10]:
Favt_Number = int(input("Enter your favorite number:   "))
print("My favorite number is:   ", Favt_Number)

Enter your favorite number:   77
My favorite number is:    77

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [11]:
Base = 4
Side_a = 5
Side_b = 5
perimeter = Base + Side_a + Side_a
print("Perimeter of given triangle is:    ", perimeter)

Perimeter of given triangle is:     14

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [13]:
Price = int(input("Enter price of item:  "))
Quantity = int(input("Enter quantity of item:   "))
Cost = Price * Quantity
print(f"Cost of {Quantity} items is:   ", Cost)

Enter price of item:  2
Enter quantity of item:   2
Cost of 2 items is:    4

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [14]:
PI = 3.14
Radius = int(input("Enter radius to compute circumference:    "))
Circumference = 2 * PI * Radius
print("Circumference of circle is:    ", Circumference)

Enter radius to compute circumference:    2
Circumference of circle is:     12.56

Calculate the sum of two numbers, a and b.

In [15]:
a = int(input("Enter first number:  "))
b = int(input("Enter second number:  "))
sum = a + b
print(f"Sum of {a} and {b} is:  ", sum)

Enter first number:  2
Enter second number:  2
Sum of 2 and 2 is:   4

Calculate the product of two numbers, a and b.

In [17]:
a = int(input("Enter first number:  "))
b = int(input("Enter second number:  "))
Product = a * b
print(f"Product of {a} and {b} is:  ", Product)

Enter first number:  2
Enter second number:  3
Product of 2 and 3 is:   6

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [20]:
a = int(input("Enter first number:  "))
b = int(input("Enter second number:  "))
try:
  div = a / b
except ZeroDivisionError:
  print("OOPSS..! Division by zero is not allowed.")
else:
  print(f"Division of {a} and {b} is:  ", div)

Enter first number:  4
Enter second number:  0
OOPSS..! Division by zero is not allowed.

Calculate the square of a number x.

In [21]:
x = int(input("Enter number to compute square:  "))
Square = x ** 2
print(f"Square of {x} is:   ", Square)

Enter number to compute square:  2
Square of 2 is:    4

Calculate the remainder when a is divided by b.

In [22]:
a = int(input("Enter first number:  "))
b = int(input("Enter second number:   "))
Remainder = a % b
print("Remainder of the numbers is:   ", Remainder)

Enter first number:  7
Enter second number:   3
Remainder of the numbers is:    1

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [26]:
Dividend = 17
Divisor = 3
print(f"Quotient and remainder for {Dividend} and {Divisor} is:   ")
Quotient = 0
while Dividend >= Divisor:
  Dividend =  Dividend - Divisor
  Quotient = Quotient + 1

print("Quotient:  ", Quotient)
print("Remainder:  ", Dividend)

Quotient and remainder for 17 and 3 is:
Quotient:   5
Remainder:   2

Calculate the area of a square with a given side length.

In [27]:
Side = int(input("Enter side of square:   "))
Area = Side * Side
print("Area of Square is:   ", Area)

Enter side of square:   4
Area of Square is:    16

Calculate the average of five numbers.

In [28]:
a = 5
b = 4
c = 3
d = 2
e =1
Average = (a + b + c + d + e) / 5
print("Average of above five numbers:   ", Average)

Average of above five numbers:    3.0

Create a variable with a boolean value and print its opposite value.

In [29]:
Bool = True
Opposite = not Bool
print(f"Opposite of {Bool} is:   ", Opposite)

Opposite of True is:    False

Store your birth year in a variable and calculate your age.

In [30]:
Birth_Year = 2001
# Import built in method of data and time to calculate
import datetime
Current_Year = datetime.date.today().year
Age = Current_Year - Birth_Year
print(f"Gap between {Birth_Year} and {Current_Year} is {Age} so Age will be:   ", Age)

Gap between 2001 and 2023 is 22 so Age will be:    22

Create a variable with an integer and convert it to a float.

In [31]:
integer = int(input("Enter value in integer:  "))
Float = float(integer)
print(f"Float value of {integer} is:  ", Float)

Enter value in integer:  3
Float value of 3 is:   3.0

Create a variable with a float and convert it to an integer.

In [33]:
Float = float(input("Enter value in Float:  "))
integer = int(Float)
print(f"Integer value of {Float} is:  ", integer)

Enter value in Float:  4.0
Integer value of 4.0 is:   4

Create a variable with a string that represents an integer and convert it to an integer.

In [34]:
Integer_as_string = input("Enter integer which is by default string:  ")
integer = int(Integer_as_string)
print("Integer is:  ", integer)

Enter integer which is by default string:  4
Integer is:   4

Create a variable with a string that represents a float and convert it to a float.

In [35]:
Float = 3.144
Conversion = float(Float)
print("Float value is:   ", Conversion)

Float value is:    3.144

Create a variable with a number and convert it to a string.

In [36]:
Number = int(input("Enter a number to be converted:    "))
String = str(Number)
print(f"String of {Number} is:  ", String)

Enter a number to be converted:    34
String of 34 is:   34

Calculate the absolute value of a number.

In [37]:
Number = int(input("enter a number:  "))
Absolute = abs(Number)
print(f"Absolute value of {Number} is:   ", Absolute)

enter a number:  -5
Absolute value of -5 is:    5

Calculate the square root of a number.

In [38]:
import math
Number = int(input("enter a number to compute square root:  "))
Square_Root = math.sqrt(Number)
print(f"Square root of {Number} is :   ", Square_Root)

enter a number to compute square root:  4
Square root of 4 is :    2.0

Calculate the value of a raised to the power of b.

In [39]:
a = int(input("Enter the value of a:  "))
b = int(input("Enter the value of b:  "))
Power = a ** b
print(f"{a} raised to power {b} is:   ", Power)

Enter the value of a:  2
Enter the value of b:  3
2 raised to power 3 is:    8

Round a float to the nearest integer.

In [40]:
Float = float(input("Enter value:  "))
Round = round(Float)
print(f"Rounded value of {Float} is:  ", Round)

Enter value:  3.7
Rounded value of 3.7 is:   4

Combine multiple conditions using logical operators and print the result.

In [41]:
x = 20
y = 30

condition_1 = x > y
condition_2 = y <= x
condition_3 = x == 5

result_and = condition_1 and condition_2
result_or = condition_1 or condition_3
result_not = not condition_1

print("Result of AND operation:", result_and)
print("Result of OR operation:", result_or)
print("Result of NOT operation:", result_not)

Result of AND operation: False
Result of OR operation: False
Result of NOT operation: True

Generate a random number between 1 and 100.**(challenging)**

In [44]:
import random
# Using 101 because randrange function does not include upper limit in the range of possible values
random_number = random.randrange(1, 101)
print("Random number:", random_number)

Random number: 26