### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [1]:
empty_set = set()
print(empty_set)

set()

  Create a set of your favorite colors and print it.

In [2]:
favorite_colors = {'blue', 'green', 'red', 'purple'}

print(favorite_colors)

{'purple', 'blue', 'red', 'green'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [3]:
mixed_set = {1, 'apple', 3.14, 'orange'}
print(mixed_set)

{1, 3.14, 'apple', 'orange'}

Access the elements of a set using a loop and print each element.

In [4]:
mixed_set = {2, 'apple', 3.14, 'orange'}

for element in mixed_set:
    print(element)

apple
2
3.14
orange

add a new element to a set using the add() method.

In [5]:
my_set = {1, 2, 3, 'apple'}
my_set.add('orange')
print(my_set)

{1, 2, 3, 'apple', 'orange'}

Add multiple elements to a set using the update() method.

In [6]:
my_set = {1, 2, 3, 'apple'}
my_set.update(['orange', 4, 'banana'])
print(my_set)

{1, 2, 3, 4, 'apple', 'banana', 'orange'}

Remove and return an arbitrary element from a set using the pop() method.

In [7]:
my_set = {1, 2, 3, 'apple', 'orange', 'banana'}
removed_element = my_set.pop()

print("Removed Element:", removed_element)
print("Updated Set:", my_set)

Removed Element: 1
Updated Set: {2, 3, 'apple', 'banana', 'orange'}

Remove a specific element from a set using the remove() method.

In [8]:
my_set = {1, 2, 3, 'apple', 'orange', 'banana'}
my_set.remove('apple')
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 'banana', 'orange'}

Remove a specific element from a set using the discard() method.

In [9]:
my_set = {1, 2, 3, 'apple', 'orange', 'banana'}
my_set.discard('apple')
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 'banana', 'orange'}

Convert a string to a set of unique characters.

In [10]:
my_string = "Sania Khalid"
unique_characters_set = set(my_string)
print("Set of Unique Characters:", unique_characters_set)

Set of Unique Characters: {'S', 'a', 'i', 'K', 'l', 'h', ' ', 'd', 'n'}

Convert a set of characters to a string.

In [11]:
char_set = {' s', 'a', 'n', 'i', 'a', 'k', 'h', 'a', 'l', 'i', 'd'}

char_string = ''.join(char_set)

print("String from Set of Characters:", char_string)

String from Set of Characters: aiklh sdn

Use the clear() method to remove all elements from a set.

In [12]:
my_set = {1, 2, 3, 'apple', 'orange', 'banana'}

my_set.clear()
print("Empty Set:", my_set)

Empty Set: set()

Use the copy() method to create a shallow copy of a set.

In [13]:
original_set = {1, 2, 3, 'apple', 'orange', 'banana'}
copied_set = original_set.copy()
print("Original Set:", original_set)
print("Copied Set:", copied_set)

Original Set: {1, 2, 3, 'apple', 'banana', 'orange'}
Copied Set: {1, 2, 3, 'apple', 'banana', 'orange'}

Use the difference() method to find the difference between two sets.

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)
print("Set Difference:", difference_set)

Set Difference: {1, 2}

Create two sets and find their union.

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set_method = set1.union(set2)

union_set_operator = set1 | set2
print("Union using union():", union_set_method)
print("Union using | operator:", union_set_operator)

Union using union(): {1, 2, 3, 4, 5, 6, 7}
Union using | operator: {1, 2, 3, 4, 5, 6, 7}

    Create two sets and find their intersection.

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_set_method = set1.intersection(set2)
intersection_set_operator = set1 & set2
print("Intersection using intersection():", intersection_set_method)
print("Intersection using & operator:", intersection_set_operator)

Intersection using intersection(): {3, 4, 5}
Intersection using & operator: {3, 4, 5}

 Create two sets and find their difference.

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set_method = set1.difference(set2)
difference_set_operator = set1 - set2
print("Difference using difference():", difference_set_method)
print("Difference using - operator:", difference_set_operator)

Difference using difference(): {1, 2}
Difference using - operator: {1, 2}

    Create two sets and find their symmetric difference.

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_difference_method = set1.symmetric_difference(set2)

symmetric_difference_operator = set1 ^ set2

print("Symmetric Difference using symmetric_difference():", symmetric_difference_method)
print("Symmetric Difference using ^ operator:", symmetric_difference_operator)

Symmetric Difference using symmetric_difference(): {1, 2, 6, 7}
Symmetric Difference using ^ operator: {1, 2, 6, 7}

Check if one set is a subset of another.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_subset_method = set2.issubset(set1)
is_subset_operator = set2 <= set1

print("Is set2 a subset of set1 using issubset():", is_subset_method)
print("Is set2 a subset of set1 using <= operator:", is_subset_operator)

Is set2 a subset of set1 using issubset(): True
Is set2 a subset of set1 using <= operator: True

    Check if one set is a superset of another.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_superset_method = set1.issuperset(set2)
is_superset_operator = set1 >= set2

print("Is set1 a superset of set2 using issuperset():", is_superset_method)
print("Is set1 a superset of set2 using >= operator:", is_superset_operator)

Is set1 a superset of set2 using issuperset(): True
Is set1 a superset of set2 using >= operator: True

    Check if two sets are disjoint (have no common elements).

In [21]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

are_disjoint = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True